In [66]:
import pandas as pd
from random import randint, shuffle, choice
from string import ascii_lowercase

In [2]:
names = ['Kevin', 'Bob', 'Jack', 'Robin']
numbers = [10, -20, 50, -30, 40]

In [3]:
s = pd.Series(names)

In [5]:
n = pd.Series(numbers)

In [6]:
nums.sum()

50

In [8]:
nums.product()

12000000

In [9]:
nums.mean()

10.0

In [10]:
nums

0    10
1   -20
2    50
3   -30
4    40
dtype: int64

In [11]:
s.sum()

'KevinBobJackRobin'

In [12]:
s.max()

'Robin'

In [13]:
s.min()

'Bob'

In [15]:
s.keys()

RangeIndex(start=0, stop=4, step=1)

In [17]:
nums.lt(2)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [18]:
nums.gt(2)

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [19]:
nums.eq(10)

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [21]:
nums.ne(10)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [22]:
nums.abs()

0    10
1    20
2    50
3    30
4    40
dtype: int64

In [24]:
numbers = [randint(-50, 50) for i in range(100)]

In [25]:
s = pd.Series(numbers)

In [28]:
s

0     20
1      1
2      7
3     33
4    -42
      ..
95   -13
96   -45
97    45
98   -27
99   -29
Length: 100, dtype: int64

In [29]:
s.head(10)

0    20
1     1
2     7
3    33
4   -42
5    17
6     4
7   -29
8     8
9    29
dtype: int64

In [31]:
s.tail(10)

90   -37
91   -22
92   -41
93   -17
94    11
95   -13
96   -45
97    45
98   -27
99   -29
dtype: int64

In [34]:
s.take([4, 9, 15, 10])

4    -42
9     29
15    -3
10    16
dtype: int64

In [38]:
s.take(range(23, 36, 2))

23    47
25    49
27     1
29   -33
31    22
33    -1
35     6
dtype: int64

In [39]:
nums = [randint(-50, 50) for i in range(26)]

In [40]:
s = pd.Series(nums)

In [41]:
s[2]

11

In [42]:
s[23]

-13

In [43]:
s[15]

44

In [44]:
s[10: 15]

10    37
11   -12
12   -24
13    23
14    25
dtype: int64

In [45]:
s[:10]

0     9
1   -18
2    11
3    -3
4     3
5   -20
6    39
7    19
8    28
9    25
dtype: int64

In [46]:
s[23:]

23   -13
24     3
25    23
dtype: int64

In [47]:
s[10:4:-1]

10    37
9     25
8     28
7     19
6     39
5    -20
dtype: int64

In [48]:
s[::-1]

25    23
24     3
23   -13
22   -38
21    32
20   -14
19   -42
18   -27
17     5
16   -48
15    44
14    25
13    23
12   -24
11   -12
10    37
9     25
8     28
7     19
6     39
5    -20
4      3
3     -3
2     11
1    -18
0      9
dtype: int64

In [49]:
s[:-1]

0      9
1    -18
2     11
3     -3
4      3
5    -20
6     39
7     19
8     28
9     25
10    37
11   -12
12   -24
13    23
14    25
15    44
16   -48
17     5
18   -27
19   -42
20   -14
21    32
22   -38
23   -13
24     3
dtype: int64

In [52]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [53]:
ind = list(ascii_lowercase)

In [54]:
ind

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [62]:
letters = pd.Series(nums, index=ind)

In [63]:
letters

k     9
v   -18
w    11
q    -3
s     3
u   -20
z    39
y    19
g    28
h    25
c    37
i   -12
j   -24
m    23
o    25
a    44
t   -48
x     5
n   -27
d   -42
p   -14
f    32
l   -38
e   -13
r     3
b    23
dtype: int64

In [57]:
letters[0]

9

In [58]:
letters['a']

9

In [60]:
shuffle(ind)

In [61]:
ind

['k',
 'v',
 'w',
 'q',
 's',
 'u',
 'z',
 'y',
 'g',
 'h',
 'c',
 'i',
 'j',
 'm',
 'o',
 'a',
 't',
 'x',
 'n',
 'd',
 'p',
 'f',
 'l',
 'e',
 'r',
 'b']

In [64]:
letters

k     9
v   -18
w    11
q    -3
s     3
u   -20
z    39
y    19
g    28
h    25
c    37
i   -12
j   -24
m    23
o    25
a    44
t   -48
x     5
n   -27
d   -42
p   -14
f    32
l   -38
e   -13
r     3
b    23
dtype: int64

In [65]:
letters['a': 'b']

a    44
t   -48
x     5
n   -27
d   -42
p   -14
f    32
l   -38
e   -13
r     3
b    23
dtype: int64

In [67]:
nums = [randint(-50, 50) for i in range(10)]
indexes = [choice([0,1,2,3]) for i in range(10)]

In [72]:
s = pd.Series(nums, index=indexes)

In [69]:
nums

[38, 19, 34, 42, 33, 16, -19, -14, -40, -42]

In [70]:
indexes

[3, 0, 3, 2, 1, 3, 0, 2, 1, 0]

In [71]:
s

0    38
1    19
2    34
3    42
4    33
5    16
6   -19
7   -14
8   -40
9   -42
dtype: int64

In [73]:
s

3    38
0    19
3    34
2    42
1    33
3    16
0   -19
2   -14
1   -40
0   -42
dtype: int64

In [74]:
s[2]

2    42
2   -14
dtype: int64

In [77]:
s.iloc[1]

19