In [1]:
import pandas as pd

In [2]:
pwd

'/home/laziz/PycharmProjects/practice-with-the-api/pandas/part_2'

In [4]:
file = pd.read_csv('labirint_10_07_2023_15_40.csv')

In [5]:
file.head(10)

,Название книги,Автор,Издательство,Цена со скидкой,Цена без скидки,Процент скидки,Наличие на складе
0,NaN,NaN,NaN,0,Нет старой цены,Нет скидки,NaN
1,JavaScript. Рецепты для разработчиков,Скотт Адам Д. и др.,Питер:Бестселлеры O`Reilly,2539,3255,22,На складе
2,Искусство чистого кода. Как избавиться от слож...,Майер Кристиан,Питер:Библиотека программиста,1412,1810,22,На складе
3,Микросервисы. От архитектуры до релиза,"Митра Ронни, Надареишвили Иракли",Питер:Бестселлеры O`Reilly,2121,2719,22,На складе
4,Алгоритмы и структуры данных на Python. Учебн...,Чернышев Станислав Андреевич,Кнорус:Бакалавриат,1719,2644,35,Ограничено
5,"97 вещей, о которых должен знать каждый Java-п...","Хенни Кевлин, Триша Джи",Бомбора:Мировой компьютерный бестселлер,1388,Нет старой цены,Нет скидки,На складе
6,Безопасность веб-приложений. Исчерпывающий гид...,Янка Таня,Бомбора:КиберБез. Лучшие книги о безопасности ...,1530,Нет старой цены,Нет скидки,На складе
7,Линейное программирование. Часть 1. Учебное по...,Шандра Игорь Георгиевич,Прометей,612,941,35,Ограничено
8,Level up! Руководство по созданию классных вид...,Роджерс Скотт,Бомбора:Мировой компьютерный бестселлер,2053,Нет старой цены,Нет скидки,На складе
9,Современный С++. Безопасное использование,Лакос Джон и др.,ДМК-Пресс,4900,7539,35,На складе

In [6]:
file.tail(10)

,Название книги,Автор,Издательство,Цена со скидкой,Цена без скидки,Процент скидки,Наличие на складе
1019,Silverlight. Практическое руководство,Браун Пит,Питер,1399,1793,22,На складе
1020,PHP. Создание динамических страниц,Пауэрс Дэвид,Рид Групп:Веб-технологии,1135,1555,27,На складе
1021,Изучаем Java,"Сьерра Кэтти, Бейтс Берт",Эксмо:Мировой компьютерный бестселлер,2178,Нет старой цены,Нет скидки,На складе
1022,1С: Предприятие 8.2. Коротко о главном. Новые ...,Радченко Максим Григорьевич,1С:1С: Предприятие 8.2,226,347,35,На складе
1023,"Как настраивать ""1С: Предприятие 8.2"" при внед...",Ажеронок Валентин Александрович,1С:1С: Предприятие 8.2,218,336,35,На складе
1024,Macromedia Authorware 6.0. Разработка мультиме...,Гультяев Алексей Константинович,Корона-Принт:,269,414,35,На складе
1025,Руководство разработчика по Microsoft Enterpri...,Хоумер Алекс и др.,Эком,610,938,35,Ограничено
1026,Groovy и Grails. Практические советы,Абдул-Джавад Башар,ДМК-Пресс:,3024,4652,35,На складе
1027,Микрокомпьютерные системы управления. Первое з...,Суэмацу Есикадзу,Додека XXI век:,1633,2513,35,На складе
1028,Silverlight 2. Технология создания интернет-пр...,Буньон Лоран,ДМК-Пресс:,544,837,35,Ограничено

In [7]:
type(file)

pandas.core.frame.DataFrame

In [8]:
first_10_rows = file.head(10)

In [9]:
first_10_rows

,Название книги,Автор,Издательство,Цена со скидкой,Цена без скидки,Процент скидки,Наличие на складе
0,NaN,NaN,NaN,0,Нет старой цены,Нет скидки,NaN
1,JavaScript. Рецепты для разработчиков,Скотт Адам Д. и др.,Питер:Бестселлеры O`Reilly,2539,3255,22,На складе
2,Искусство чистого кода. Как избавиться от слож...,Майер Кристиан,Питер:Библиотека программиста,1412,1810,22,На складе
3,Микросервисы. От архитектуры до релиза,"Митра Ронни, Надареишвили Иракли",Питер:Бестселлеры O`Reilly,2121,2719,22,На складе
4,Алгоритмы и структуры данных на Python. Учебн...,Чернышев Станислав Андреевич,Кнорус:Бакалавриат,1719,2644,35,Ограничено
5,"97 вещей, о которых должен знать каждый Java-п...","Хенни Кевлин, Триша Джи",Бомбора:Мировой компьютерный бестселлер,1388,Нет старой цены,Нет скидки,На складе
6,Безопасность веб-приложений. Исчерпывающий гид...,Янка Таня,Бомбора:КиберБез. Лучшие книги о безопасности ...,1530,Нет старой цены,Нет скидки,На складе
7,Линейное программирование. Часть 1. Учебное по...,Шандра Игорь Георгиевич,Прометей,612,941,35,Ограничено
8,Level up! Руководство по созданию классных вид...,Роджерс Скотт,Бомбора:Мировой компьютерный бестселлер,2053,Нет старой цены,Нет скидки,На складе
9,Современный С++. Безопасное использование,Лакос Джон и др.,ДМК-Пресс,4900,7539,35,На складе

In [13]:
first_10_rows.to_csv('my_csv.csv', index=False)

In [18]:
df = pd.read_excel('data.xlsx', sheet_name='Товар')

In [19]:
df

,Short Dress,$24.99,"Short dress in woven fabric. Round neckline and opening at back of neck with a button. Yoke at back with concealed pleats, long sleeves, and narrow cuffs with ties. Side pockets. 100% polyester. Machine wash cold.",https://scrapingclub.com/static/img/90008-E.jpg
0,Patterned Slacks,$29.99,Ankle-length slacks in patterned stretch cotto...,https://scrapingclub.com/static/img/96436-A.jpg
1,Short Chiffon Dress,$49.99,Short V-neck dress in plumeti chiffon. Gathers...,https://scrapingclub.com/static/img/93926-B.jpg
2,Off-the-shoulder Dress,$59.99,"Short, fitted off-the-shoulder dress in stretc...",https://scrapingclub.com/static/img/90882-B.jpg
3,V-neck Top,$24.99,Top in woven fabric with V-neck front and back...,https://scrapingclub.com/static/img/93756-C.jpg
4,Short Chiffon Dress,$49.99,Short V-neck dress in plumeti chiffon. Gathers...,https://scrapingclub.com/static/img/93926-C.jpg
5,V-neck Top,$24.99,Top in woven fabric with V-neck front and back...,https://scrapingclub.com/static/img/93756-B.jpg
6,V-neck Top,$24.99,Top in woven fabric with V-neck front and back...,https://scrapingclub.com/static/img/93756-D.jpg
7,Short Lace Dress,$59.99,"Short, straight-cut dress in lace. Opening at ...",https://scrapingclub.com/static/img/96643-A.jpg
8,Fitted Dress,$34.99,"Fitted dress in thick jersey with a V-neck, lo...",https://scrapingclub.com/static/img/94766-A.jpg
9,V-neck Jumpsuit,$69.99,Jumpsuit in woven fabric with a V-neck and sho...,https://scrapingclub.com/static/img/91696-C.jpg
10,Chiffon Dress,$54.99,Short dress in crinkled chiffon with a V-neck ...,https://scrapingclub.com/static/img/93745-A.jpg
11,Skinny High Waist Jeans,$39.99,5-pocket jeans in washed stretch denim with di...,https://scrapingclub.com/static/img/65763-E.jpg
12,Super Skinny High Jeans,$19.99,Jeans in washed superstretch denim with a zip ...,https://scrapingclub.com/static/img/70745-D.jpg
13,Oversized Denim Jacket,$19.99,Oversized denim jacket with smooth metal butto...,https://scrapingclub.com/static/img/94706-A.jpg
14,Short Sweatshirt,$24.99,Short sweatshirt with long sleeves and ribbing...,https://scrapingclub.com/static/img/96230-B.jpg
15,Long-sleeved Jersey Top,$12.99,"CONSCIOUS. Fitted, long-sleeved top in stretch...",https://scrapingclub.com/static/img/73840-F.jpg
16,Skinny High Waist Jeans,$39.99,5-pocket jeans in washed stretch denim with di...,https://scrapingclub.com/static/img/65763-A.jpg
17,Short Sweatshirt,$24.99,Short sweatshirt with long sleeves and ribbing...,https://scrapingclub.com/static/img/96230-A.jpg
18,Long-sleeved Jersey Top,$12.99,"CONSCIOUS. Fitted, long-sleeved top in stretch...",https://scrapingclub.com/static/img/73840-P.jpg
19,Long-sleeved Jersey Top,NaN,NaN,NaN
20,Jersey Dress,NaN,NaN,NaN
21,Short Sweatshirt,NaN,NaN,NaN
22,Crinkled Flounced Blouse,NaN,NaN,NaN
23,Bib Overall Dress,NaN,NaN,NaN
24,Loose-knit Sweater,NaN,NaN,NaN
25,Skinny Regular Jeans,NaN,NaN,NaN
26,Henley-style Top,NaN,NaN,NaN
27,Joggers,NaN,NaN,NaN
28,Skirt with Lacing,NaN,NaN,NaN
29,Top with Tie,NaN,NaN,NaN
30,Joggers,NaN,NaN,NaN
31,Chiffon Dress with Flounce,NaN,NaN,NaN
32,Skirt with Lacing,NaN,NaN,NaN
33,V-neck Top,NaN,NaN,NaN
34,Hooded Jacket,NaN,NaN,NaN
35,Hooded Top,NaN,NaN,NaN
36,Lyocell-blend Blouse,NaN,NaN,NaN
37,Bib Overall Dress,NaN,NaN,NaN
38,Wide-leg Pants,NaN,NaN,NaN

In [20]:
df.to_excel('MyExcel.xlsx', sheet_name='Mysheet')

In [21]:
html_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_largest_cities_on_the_United_States_West_Coast')

In [22]:
html_data

[   0            1
 0  †  County seat,
      2017 Rank             city       state County / borough  \
 0            1    Los Angeles †  California      Los Angeles
 1            2      San Diego †  California        San Diego
 2            3       San Jose †  California      Santa Clara
 3            4  San Francisco †  California    San Francisco
 4            5        Seattle †  Washington             King
 ..         ...              ...         ...              ...
 105        106      San Leandro  California          Alameda
 106        107        Livermore  California          Alameda
 107        108            Indio  California        Riverside
 108        109     Bellingham †  Washington         Whatcomb
 109        110         Kirkland  Washington             King

      Population (2017 est.)[4]     Metro  \
 0                      3999759  13131431
 1                      1419516   3317749
 2                      1035317   1998463
 3                       884363   4727357
 4                       724745   3733580
 ..                         ...       ...
 105                      90553         —
 106                      90295         —
 107                      89793         —
 108                      89045    221404
 109                      88630         —

                                          Notes
 0                   Largest city in California
 1                                          NaN
 2    Located within the San Francisco Bay Area
 3                                          NaN
 4                   Largest city in Washington
 ..                                         ...
 105      Located within San Francisco Bay Area
 106      Located within San Francisco Bay Area
 107                                        NaN
 108                                        NaN
 109   Located within Seattle metropolitan area

 [110 rows x 7 columns]]

In [23]:
type(html_data)

list

In [25]:
html_data[1]

,2017 Rank,city,state,County / borough,Population (2017 est.)[4],Metro,Notes
0,1,Los Angeles †,California,Los Angeles,3999759,13131431,Largest city in California
1,2,San Diego †,California,San Diego,1419516,3317749,NaN
2,3,San Jose †,California,Santa Clara,1035317,1998463,Located within the San Francisco Bay Area
3,4,San Francisco †,California,San Francisco,884363,4727357,NaN
4,5,Seattle †,Washington,King,724745,3733580,Largest city in Washington
...,...,...,...,...,...,...,...
105,106,San Leandro,California,Alameda,90553,—,Located within San Francisco Bay Area
106,107,Livermore,California,Alameda,90295,—,Located within San Francisco Bay Area
107,108,Indio,California,Riverside,89793,—,NaN
108,109,Bellingham †,Washington,Whatcomb,89045,221404,NaN
109,110,Kirkland,Washington,King,88630,—,Located within Seattle metropolitan area

In [27]:
data = html_data[1].head(20)

In [28]:
data.to_csv('html_data.csv')

In [29]:
json_data = data.to_json()

In [30]:
json_data

'{"2017\\u00a0Rank":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10,"10":11,"11":12,"12":13,"13":14,"14":15,"15":16,"16":17,"17":18,"18":19,"19":20},"city":{"0":"Los Angeles \\u2020","1":"San Diego \\u2020","2":"San Jose \\u2020","3":"San Francisco \\u2020","4":"Seattle \\u2020","5":"Portland \\u2020","6":"Fresno \\u2020","7":"Sacramento \\u2020","8":"Long Beach","9":"Oakland \\u2020","10":"Bakersfield \\u2020","11":"Anaheim","12":"Santa Ana \\u2020","13":"Riverside \\u2020","14":"Stockton \\u2020","15":"Anchorage \\u2020","16":"Irvine","17":"Chula Vista","18":"Fremont","19":"Spokane \\u2020"},"state":{"0":"California","1":"California","2":"California","3":"California","4":"Washington","5":"Oregon","6":"California","7":"California","8":"California","9":"California","10":"California","11":"California","12":"California","13":"California","14":"California","15":"Alaska","16":"California","17":"California","18":"California","19":"Washington"},"County \\/ borough":{"0":"Los Angeles","1":"San Diego","2":"Santa Clara","3":"San Francisco","4":"King","5":"Multnomah","6":"Fresno","7":"Sacramento","8":"Los Angeles","9":"Alameda","10":"Kern","11":"Orange","12":"Orange","13":"Riverside","14":"San Joaquin","15":"Anchorage","16":"Orange","17":"San Diego","18":"Alameda","19":"Spokane"},"Population (2017\\u00a0est.)[4]":{"0":3999759,"1":1419516,"2":1035317,"3":884363,"4":724745,"5":647805,"6":527438,"7":501901,"8":469450,"9":425195,"10":380874,"11":352497,"12":334136,"13":327728,"14":310496,"15":294356,"16":277453,"17":270471,"18":234962,"19":217300},"Metro":{"0":"13131431","1":"3317749","2":"1998463","3":"4727357","4":"3733580","5":"2389228","6":"972297","7":"2149127","8":"13131431","9":"\\u2014","10":"839631","11":"\\u2014","12":"\\u2014","13":"\\u2014","14":"726126","15":"401635","16":"\\u2014","17":"\\u2014","18":"\\u2014","19":"556634"},"Notes":{"0":"Largest city in California","1":null,"2":"Located within the San Francisco Bay Area","3":null,"4":"Largest city in Washington","5":"Largest city in Oregon","6":null,"7":null,"8":"Located within the Los Angeles metropolitan area","9":null,"10":null,"11":"Located within the Los Angeles metropolitan area","12":"Located within the Los Angeles metropolitan area","13":null,"14":null,"15":"Largest city in Alaska","16":"Located within the Los Angeles metropolitan area","17":"Located within San Diego metropolitan area","18":null,"19":null}}'