In [1]:
import numpy as np
import pandas as pd

In [2]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
np_arr = np.array(numbers)
dict = {'a': 1, 'b': 2, 'c': 3}

In [7]:
pd.Series(data=numbers)

0    1
1    2
2    3
dtype: int64

In [8]:
pd.Series(data=numbers, index=letters)

a    1
b    2
c    3
dtype: int64

In [9]:
pd.Series(numbers, letters)

a    1
b    2
c    3
dtype: int64

In [10]:
pd.Series(np_arr)

0    1
1    2
2    3
dtype: int64

In [11]:
pd.Series(np_arr, letters)

a    1
b    2
c    3
dtype: int64

In [12]:
dict

{'a': 1, 'b': 2, 'c': 3}

In [13]:
pd.Series(dict)

a    1
b    2
c    3
dtype: int64

In [14]:
pd.Series(letters, numbers)

1    a
2    b
3    c
dtype: object

In [18]:
life_long_averange = pd.Series([84.7, 84.5, 83.7], ['Hong Kong', 'Japan', 'Singapore'])

In [19]:
life_long_averange

Hong Kong    84.7
Japan        84.5
Singapore    83.7
dtype: float64

In [20]:
life_long_averange['Hong Kong']

84.7

In [23]:
life_long_averange_1 = pd.Series([84.7, 84.5, 83.7], ['USA', 'Japan', 'Singapore'])

In [24]:
life_long_averange + life_long_averange_1

Hong Kong      NaN
Japan        169.0
Singapore    167.4
USA            NaN
dtype: float64