In [66]:
import pandas as pd
from random import randint, shuffle, choice
from string import ascii_lowercase

In [2]:
names = ['Kevin', 'Bob', 'Jack', 'Robin']
numbers = [10, -20, 50, -30, 40]

In [3]:
s = pd.Series(names)

In [5]:
n = pd.Series(numbers)

In [6]:
nums.sum()

50

In [8]:
nums.product()

12000000

In [9]:
nums.mean()

10.0

In [10]:
nums

0    10
1   -20
2    50
3   -30
4    40
dtype: int64

In [11]:
s.sum()

'KevinBobJackRobin'

In [12]:
s.max()

'Robin'

In [13]:
s.min()

'Bob'

In [15]:
s.keys()

RangeIndex(start=0, stop=4, step=1)

In [17]:
nums.lt(2)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [18]:
nums.gt(2)

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [19]:
nums.eq(10)

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [21]:
nums.ne(10)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [22]:
nums.abs()

0    10
1    20
2    50
3    30
4    40
dtype: int64

In [24]:
numbers = [randint(-50, 50) for i in range(100)]

In [25]:
s = pd.Series(numbers)

In [28]:
s

0     20
1      1
2      7
3     33
4    -42
      ..
95   -13
96   -45
97    45
98   -27
99   -29
Length: 100, dtype: int64

In [29]:
s.head(10)

0    20
1     1
2     7
3    33
4   -42
5    17
6     4
7   -29
8     8
9    29
dtype: int64

In [31]:
s.tail(10)

90   -37
91   -22
92   -41
93   -17
94    11
95   -13
96   -45
97    45
98   -27
99   -29
dtype: int64

In [34]:
s.take([4, 9, 15, 10])

4    -42
9     29
15    -3
10    16
dtype: int64

In [38]:
s.take(range(23, 36, 2))

23    47
25    49
27     1
29   -33
31    22
33    -1
35     6
dtype: int64

In [39]:
nums = [randint(-50, 50) for i in range(26)]

In [40]:
s = pd.Series(nums)

In [41]:
s[2]

11

In [42]:
s[23]

-13

In [43]:
s[15]

44

In [44]:
s[10: 15]

10    37
11   -12
12   -24
13    23
14    25
dtype: int64

In [45]:
s[:10]

0     9
1   -18
2    11
3    -3
4     3
5   -20
6    39
7    19
8    28
9    25
dtype: int64

In [46]:
s[23:]

23   -13
24     3
25    23
dtype: int64

In [47]:
s[10:4:-1]

10    37
9     25
8     28
7     19
6     39
5    -20
dtype: int64

In [48]:
s[::-1]

25    23
24     3
23   -13
22   -38
21    32
20   -14
19   -42
18   -27
17     5
16   -48
15    44
14    25
13    23
12   -24
11   -12
10    37
9     25
8     28
7     19
6     39
5    -20
4      3
3     -3
2     11
1    -18
0      9
dtype: int64

In [49]:
s[:-1]

0      9
1    -18
2     11
3     -3
4      3
5    -20
6     39
7     19
8     28
9     25
10    37
11   -12
12   -24
13    23
14    25
15    44
16   -48
17     5
18   -27
19   -42
20   -14
21    32
22   -38
23   -13
24     3
dtype: int64

In [52]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [53]:
ind = list(ascii_lowercase)

In [54]:
ind

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [62]:
letters = pd.Series(nums, index=ind)

In [63]:
letters

k     9
v   -18
w    11
q    -3
s     3
u   -20
z    39
y    19
g    28
h    25
c    37
i   -12
j   -24
m    23
o    25
a    44
t   -48
x     5
n   -27
d   -42
p   -14
f    32
l   -38
e   -13
r     3
b    23
dtype: int64

In [57]:
letters[0]

9

In [58]:
letters['a']

9

In [60]:
shuffle(ind)

In [61]:
ind

['k',
 'v',
 'w',
 'q',
 's',
 'u',
 'z',
 'y',
 'g',
 'h',
 'c',
 'i',
 'j',
 'm',
 'o',
 'a',
 't',
 'x',
 'n',
 'd',
 'p',
 'f',
 'l',
 'e',
 'r',
 'b']

In [64]:
letters

k     9
v   -18
w    11
q    -3
s     3
u   -20
z    39
y    19
g    28
h    25
c    37
i   -12
j   -24
m    23
o    25
a    44
t   -48
x     5
n   -27
d   -42
p   -14
f    32
l   -38
e   -13
r     3
b    23
dtype: int64

In [65]:
letters['a': 'b']

a    44
t   -48
x     5
n   -27
d   -42
p   -14
f    32
l   -38
e   -13
r     3
b    23
dtype: int64

In [67]:
nums = [randint(-50, 50) for i in range(10)]
indexes = [choice([0,1,2,3]) for i in range(10)]

In [72]:
s = pd.Series(nums, index=indexes)

In [69]:
nums

[38, 19, 34, 42, 33, 16, -19, -14, -40, -42]

In [70]:
indexes

[3, 0, 3, 2, 1, 3, 0, 2, 1, 0]

In [71]:
s

0    38
1    19
2    34
3    42
4    33
5    16
6   -19
7   -14
8   -40
9   -42
dtype: int64

In [73]:
s

3    38
0    19
3    34
2    42
1    33
3    16
0   -19
2   -14
1   -40
0   -42
dtype: int64

In [74]:
s[2]

2    42
2   -14
dtype: int64

In [77]:
s.iloc[1]

19

In [78]:
s.iloc[[1, 2]]

0    19
3    34
dtype: int64

In [79]:
s.iloc[[1]]

0    19
dtype: int64

In [80]:
s.loc[3]

3    38
3    34
3    16
dtype: int64

In [81]:
s.loc[1]

1    33
1   -40
dtype: int64

In [82]:
s.loc[[1,3]]

1    33
1   -40
3    38
3    34
3    16
dtype: int64

In [83]:
s.loc[3] = 20

In [84]:
s

3    20
0    19
3    20
2    42
1    33
3    20
0   -19
2   -14
1   -40
0   -42
dtype: int64

In [85]:
nums = [randint(-50, 50) for i in range(15)]

In [86]:
s = pd.Series(nums)

In [87]:
s

0      0
1     45
2    -31
3     -8
4    -47
5     20
6      5
7     25
8      4
9     -5
10   -42
11    13
12   -32
13   -19
14    26
dtype: int64

In [88]:
s.sort_values

<bound method Series.sort_values of 0      0
1     45
2    -31
3     -8
4    -47
5     20
6      5
7     25
8      4
9     -5
10   -42
11    13
12   -32
13   -19
14    26
dtype: int64>

In [89]:
s.sort_values()

4    -47
10   -42
12   -32
2    -31
13   -19
3     -8
9     -5
0      0
8      4
6      5
11    13
5     20
7     25
14    26
1     45
dtype: int64

In [90]:
id(s)

140288351481232

In [91]:
s = s.sort_values()

In [92]:
id(s)

140288351160720

In [93]:
nums = [randint(-50, 50) for i in range(15)]

In [94]:
s = pd.Series(nums)

In [95]:
s

0     12
1     15
2    -42
3     45
4    -23
5     49
6    -33
7    -26
8    -44
9     -2
10   -40
11    -2
12   -25
13   -50
14    50
dtype: int64

In [97]:
s.sort_values(inplace=True)

In [96]:
id(s)

140288351223568

In [98]:
s

13   -50
8    -44
2    -42
10   -40
6    -33
7    -26
12   -25
4    -23
9     -2
11    -2
0     12
1     15
3     45
5     49
14    50
dtype: int64

In [99]:
id(s)

140288351223568

In [100]:
nums = [randint(-50, 50) for i in range(15)]

In [101]:
s = pd.Series(nums)

In [102]:
s.sort_values(ascending=False)

11    41
2     30
0     26
1     25
14    15
7      7
5      0
12    -2
13    -3
3     -9
8    -10
6    -25
9    -34
4    -44
10   -46
dtype: int64

In [103]:
pip install faker

Collecting faker
  Downloading Faker-19.2.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 1.0 MB/s eta 0:00:00[36m0:00:01 0:00:01:01
Requirement already satisfied: python-dateutil>=2.4 in /home/laziz/anaconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/laziz/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.2.0
Note: you may need to restart the kernel to use updated packages.

In [104]:
from faker import Faker

In [105]:
fake = Faker()

In [112]:
fake.name()

'Valerie Wood'

In [113]:
names = [fake.name() for i in range(15)]

In [114]:
names

['Bradley Martinez',
 'Samuel Cline',
 'Gerald Graham',
 'Arthur Jenkins',
 'Samantha Wagner',
 'Timothy Graves',
 'Peter Bradley Jr.',
 'Mr. Robert Miller',
 'Isabel Christensen',
 'Eric Austin',
 'Rebecca Cruz',
 'Stephanie Baker',
 'Natalie Oliver',
 'Daniel Thomas',
 'Kevin Ramirez']

In [115]:
n = pd.Series(names)

In [118]:
n.sort_values(ascending=False)

5         Timothy Graves
11       Stephanie Baker
1           Samuel Cline
4        Samantha Wagner
10          Rebecca Cruz
6      Peter Bradley Jr.
12        Natalie Oliver
7      Mr. Robert Miller
14         Kevin Ramirez
8     Isabel Christensen
2          Gerald Graham
9            Eric Austin
13         Daniel Thomas
0       Bradley Martinez
3         Arthur Jenkins
dtype: object

In [119]:
n.sort_values()

3         Arthur Jenkins
0       Bradley Martinez
13         Daniel Thomas
9            Eric Austin
2          Gerald Graham
8     Isabel Christensen
14         Kevin Ramirez
7      Mr. Robert Miller
12        Natalie Oliver
6      Peter Bradley Jr.
10          Rebecca Cruz
4        Samantha Wagner
1           Samuel Cline
11       Stephanie Baker
5         Timothy Graves
dtype: object

In [120]:
nums = [randint(-50, 50) for i in range(15)]
names = [fake.name() for i in range(15)]

In [121]:
a = pd.Series(nums)

In [122]:
names

['Laura Reed',
 'Dr. Matthew Middleton',
 'Dr. Dean Barnes',
 'Angelica Armstrong',
 'Derek Martinez',
 'Melvin King',
 'Brad Ward',
 'Christopher Miller',
 'Elizabeth Young',
 'William Coleman',
 'William Henry Jr.',
 'Jerry Moore',
 'Richard Cortez',
 'Chelsey Mason',
 'Dorothy Johnson']

In [123]:
nums

[16, 7, 35, -27, -22, -3, -35, 3, -4, -28, -33, -7, -33, 35, -28]

In [124]:
a

0     16
1      7
2     35
3    -27
4    -22
5     -3
6    -35
7      3
8     -4
9    -28
10   -33
11    -7
12   -33
13    35
14   -28
dtype: int64

In [125]:
a.sort_values(inplace=True)

In [126]:
a

6    -35
10   -33
12   -33
9    -28
14   -28
3    -27
4    -22
11    -7
8     -4
5     -3
7      3
1      7
0     16
2     35
13    35
dtype: int64

In [127]:
a.sort_index()

0     16
1      7
2     35
3    -27
4    -22
5     -3
6    -35
7      3
8     -4
9    -28
10   -33
11    -7
12   -33
13    35
14   -28
dtype: int64

In [128]:
a.sort_index(inplace=True)

In [129]:
a

0     16
1      7
2     35
3    -27
4    -22
5     -3
6    -35
7      3
8     -4
9    -28
10   -33
11    -7
12   -33
13    35
14   -28
dtype: int64

In [130]:
s = pd.Series(nums, index=names)

In [131]:
s

Laura Reed               16
Dr. Matthew Middleton     7
Dr. Dean Barnes          35
Angelica Armstrong      -27
Derek Martinez          -22
Melvin King              -3
Brad Ward               -35
Christopher Miller        3
Elizabeth Young          -4
William Coleman         -28
William Henry Jr.       -33
Jerry Moore              -7
Richard Cortez          -33
Chelsey Mason            35
Dorothy Johnson         -28
dtype: int64

In [132]:
s.sort_index()

Angelica Armstrong      -27
Brad Ward               -35
Chelsey Mason            35
Christopher Miller        3
Derek Martinez          -22
Dorothy Johnson         -28
Dr. Dean Barnes          35
Dr. Matthew Middleton     7
Elizabeth Young          -4
Jerry Moore              -7
Laura Reed               16
Melvin King              -3
Richard Cortez          -33
William Coleman         -28
William Henry Jr.       -33
dtype: int64

In [133]:
s.sort_values(ascending=False)

Dr. Dean Barnes          35
Chelsey Mason            35
Laura Reed               16
Dr. Matthew Middleton     7
Christopher Miller        3
Melvin King              -3
Elizabeth Young          -4
Jerry Moore              -7
Derek Martinez          -22
Angelica Armstrong      -27
William Coleman         -28
Dorothy Johnson         -28
William Henry Jr.       -33
Richard Cortez          -33
Brad Ward               -35
dtype: int64

In [134]:
fake.date()

'2008-09-03'

In [135]:
dates = [fake.date() for i in range(15)]

In [136]:
dates

['1972-01-29',
 '1976-03-25',
 '2021-02-26',
 '2007-10-19',
 '2017-05-26',
 '1997-12-18',
 '1987-03-12',
 '1998-06-03',
 '1981-09-23',
 '2005-02-04',
 '2006-08-15',
 '2020-07-25',
 '1973-09-03',
 '2010-09-29',
 '1999-04-18']

In [137]:
s = pd.Series(nums, index=dates)

In [138]:
s

1972-01-29    16
1976-03-25     7
2021-02-26    35
2007-10-19   -27
2017-05-26   -22
1997-12-18    -3
1987-03-12   -35
1998-06-03     3
1981-09-23    -4
2005-02-04   -28
2006-08-15   -33
2020-07-25    -7
1973-09-03   -33
2010-09-29    35
1999-04-18   -28
dtype: int64

In [139]:
s.sort_index()

1972-01-29    16
1973-09-03   -33
1976-03-25     7
1981-09-23    -4
1987-03-12   -35
1997-12-18    -3
1998-06-03     3
1999-04-18   -28
2005-02-04   -28
2006-08-15   -33
2007-10-19   -27
2010-09-29    35
2017-05-26   -22
2020-07-25    -7
2021-02-26    35
dtype: int64

In [143]:
nums = [randint(-50, 50) for i in range(75)]
names = [fake.name() for i in range(15)]

In [144]:
a = pd.Series(nums)

In [145]:
a

0    -33
1     39
2     17
3     16
4     21
      ..
70     5
71    19
72    45
73    25
74    20
Length: 75, dtype: int64

In [146]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    return 'zero'

In [147]:
sign(10)

'positive'

In [148]:
sign(-6)

'negative'

In [149]:
sign(0)

'zero'

In [152]:
a.apply(sign).tail(10)

65    positive
66    positive
67    positive
68    positive
69    positive
70    positive
71    positive
72    positive
73    positive
74    positive
dtype: object

In [153]:
a = pd.Series(names)

In [158]:
def surname(x):
    return x.split()[1]

In [159]:
a.apply(surname)

0        Bennett
1        Sanchez
2         Murphy
3       Mcmillan
4       Williams
5          Perez
6         Morgan
7     Washington
8        Stewart
9       Randolph
10         Burns
11      Chambers
12      Griffith
13         Young
14      Ferguson
dtype: object

In [161]:
a.apply(lambda s: s.split()[0])

0       Robert
1      Valerie
2      Kenneth
3       Jeremy
4       Gloria
5     Michelle
6     Courtney
7        Sarah
8        Jason
9        Karen
10      Dennis
11       Kelly
12    Jonathan
13     Dominic
14    Kimberly
dtype: object

In [162]:
a.apply(lambda s: len(s))

0     14
1     15
2     14
3     15
4     15
5     14
6     15
7     16
8     13
9     14
10    12
11    14
12    17
13    13
14    17
dtype: int64